body {
	margin: 0;
	padding: 0;
}

.mp-blue {background-color: #44d0ee;}
.mp-green {background-color: #a7f83a;}
.mp-yellow {background-color: #fdf2b7;}
.mp-red {background-color: #fb7171;}

.page-container {padding: 50px;}

h1, a, p {
	font-family: Tahoma;
	color: #333;
	text-decoration: none;
}

hr {
	background-color: #333;
	border: 1px solid #333;
}