@media (min-width: 769px) {
	#lp-top-menu {height: 100px;}
	#lp-top-menu ul li {
		display: inline-block;
	}
	
	#lp-top-menu .lp-button {display: none;}
}

@media (max-width: 768px) {
	#lp-top-menu {height: 40px;}
	#lp-top-menu .lp-logo img { height: 40px;}
	#lp-top-menu ul {
		position: relative;
		top: 60px;
		height: calc(100% - 60px);
		left: 0%;
		right: 0;
		bottom: 0;
		background: #cecece;
		/*-webkit-transform: translate(100%, 0);
		-moz-transform: translate(100%, 0);
		transform: translate(100%, 0);*/
		-webkit-transition: all 0.3s;
	  -moz-transition: all 0.3s;
	  transition: all 0.3s;
	  z-index: 100;
	}
	#lp-top-menu ul li {display: block;}
	
	#lp-top-menu .lp-button {
		width: 50px;
		float: right;
	}
}

#lp-top-menu {
	position: fixed;
	background-color: #26a69a;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	padding: 10px;
	overflow: hidden;
}

#lp-top-menu .lp-logo {
	width: 373px;
	float: left;
}

#lp-top-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.lp-nav-show {
	/*-webkit-transform: translate(0, 0)!important;
	-moz-transform: translate(0, 0)!important;
	transform: translate(0, 0)!important;*/
	left: -100%;
	-webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}